{% extends 'base.html.twig' %}

{% block body %}

    {% if tag is defined and tag|length %}
               <li> {{ tag }} </li>
    {% else %}
    <p>
        {{ 'message.empty_list'|trans }}
    </p>
    {%  endif %}
{% endblock %}