{% extends 'base.html.twig' %}

{% block body %}

    {% if bookmark is defined and bookmark|length %}
            <ul>
            <li>{{ bookmark.url }}</li>
            {% for tag in bookmark.tags%}
               <li> {{ tag }} </li>
            {% endfor %}
            </ul>

    {% else %}
    <p>
        {{ 'message.empty_list'|trans }}
    </p>
    {% endif %}

{% endblock %}